nav{
    background: linear-gradient(45deg, #96bef9, #196fa9);
    color: #fff;
    text-align: center;
    height: 65px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

}