.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.pokemonCardContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  
}

.btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn button {
  padding: 10px 20px;
  background-color: #599baf;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: .1s;
}

.btn button:active {
  transform: scale(0.9);

}